{% extends "base.html" %}

{% block main %}
<br>

<div class="px-3">
	<!-- tabs -->
	<div class="col-12">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link" aria-current="page" href="{% url "measurement:list" %}">電流記録</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="{% url "worklog:list" %}">作業記録</a>
			</li>
		</ul>
	</div>
	<div class="row">
		<!-- table -->
		<div class="col-7 p-3">
			<table class="table text-center">
				<thead class="table-dark">
					<tr>
							<th>作業日時</th>
							<th>ラック番号</th>
							<th>作業区分</th>
							<th>作業内容</th>
							<th>作業者</th>
							<th>編集</th>
							<th>削除</th>
					</tr>
				</thead>
				<tbody>
					{% for worklog in object_list %}
					<tr>
						<td>{{ worklog.work_date }}</td>
						<td>{{ worklog.rack }}</td>
						<td>{{ worklog.get_work_type_display }}</td>
						<td>{{ worklog.description }}</td>
						<td>{{ worklog.employee }}</td>
						<td><button class="btn btn-outline-secondary">
						<a href="{% url 'worklog:update' worklog.id %}">編集</a>
						</button></td>
						<td><button class="btn btn-outline-secondary">
							<a href="{% url 'worklog:delete' worklog.id %}">削除</a>
						</button></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<!-- forms -->
		<div class="col-5">
			<div class="container border border-top-0 border-1 rounded-bottom">
				<form method="POST">
					{% csrf_token %}
					<!-- work_date -->
					<div class="p-3 col-10">
						<label for="{{ form.work_date.id_for_label }}" class="form-label">記録日時</label>
						{{ form.work_date }}
					</div>
				
					<!-- work_type -->
					<div class="p-3">
						<label class="form-label">作業区分</label><br>
						{{ form.work_type }}
					</div>
				
					<!-- rack -->
					<div class="p-3 col-6">
						<label for="{{ form.rack.id_for_label }}" class="form-label">ラック番号</label>
						{{ form.rack }}
					</div>
				
					<!-- description -->
					<div class="p-3 col-10">
						<label for="{{ form.description.id_for_label }}" class="form-label">備考</label>
						{{ form.description }}
					</div>

					<!-- employee -->
					<div class="p-3 col-10">
						<label for="{{ form.employee.id_for_label }}" class="form-label">作業者</label>
						{{ form.employee }}
					</div>

					<div class="p-3">
						<button type="submit" class="submit btn btn-primary">Update</button>
						<a class="submit btn btn-secondary" href="{% url "worklog:list" %}">キャンセル</a>
					</div>
				</form>
			</div>
		</div>

	</div>

</div>
{% endblock %}
