{% extends "base.html" %}

{% block main %}
<h2>
  <a href="{% url "measurement:list" %}">電流記録</a>
  <a href="{% url "worklog:list" %}">作業記録</a>
  
</h2>
  
<br>

<table>
        <thead>
                <tr>
                        <th>#</th>
                        <th>作業日時</th>
                        <th>作業区分</th>
                        <th>作業内容</th>
                        <th>作業者</th>
                        <th>編集</th>
                        <th>削除</th>
                </tr>
        </thead>
        <tbody>
        {% for worklog in object_list %}
        <tr>
                <td>{{ worklog.id }}</td>
                <td>{{ worklog.work_date }}</td>
                <td>{{ worklog.get_work_type_display }}</td>
                <td>{{ worklog.description }}</td>
                <td>{{ worklog.employee }}</td>
                <td><a href="{% url 'worklog:update' worklog.id %}">編集</a></td>
                <td><a href="{% url 'worklog:delete' worklog.id %}">削除</a></td>
        </tr>
        {% endfor %}
        </tbody>
</table>
<a href="{% url "worklog:add" %}">作業記録の追加</a>
{% endblock %}
