{% extends "base.html" %}

{% block main %}

<script>
	window.onload = function() {
		var headerHeight = document.getElementById('header').offsetHeight;
		var cardHeaderHeight = document.getElementById('cardHeader').offsetHeight + document.getElementById('tableHeader').offsetHeight;
		var upperHeight = headerHeight + cardHeaderHeight + 40;
		var scrollableArea = document.getElementById('tableArea');
		var contentHeight = scrollableArea.scrollHeight;
		var maxHeight = 'calc(90vh - ' + upperHeight + 'px)';
		scrollableArea.style.height = maxHeight;
		if (scrollableArea.offsetHeight > contentHeight) {
			scrollableArea.style.height = contentHeight + 'px';
		}
	};
</script>

<div class="container p-3">
	<div class="card">
		<!-- tabs -->
		<div class="card-header" id="cardHeader">
			<ul class="nav nav-tabs card-header-tabs">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="{% url "measurement:list" %}">電流記録</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{% url "worklog:list" %}">作業記録</a>
				</li>
			</ul>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-8">
				<!-- table -->
				<div class="card">
						<div class="card-header" id="tableHeader">
							最近の作業記録
						</div>
						<div class="card-body">
							<div class="overflow-auto" style="height: 0vh; overflow-y: auto;" id="tableArea">
								<table class="table text-center">
								<thead class="table-dark">
									<tr>
											<th>作業日時</th>
											<th>ラック番号</th>
											<th>作業区分</th>
											<th>作業内容</th>
											<th>作業者</th>
											<th>編集</th>
											<th>削除</th>
									</tr>
								</thead>
								<tbody>
									<!-- 作業内容以外の要素は改行しないで表示する-->
									{% for worklog in object_list %}
									<tr>
										<td class="text-nowrap">{{ worklog.date }}</td>
										<!-- ラック番号の文字を最小で二行にするために余白を挿入-->
										<td class="text-nowrap px-4">{{ worklog.rack }}</td>
										<td class="text-nowrap">{{ worklog.get_work_type_display }}</td>
										<td>{{ worklog.description }}</td>
										<td class="text-nowrap">{{ worklog.employee }}</td>
										<td class="text-nowrap">
											<a class="btn btn-outline-secondary" 
												href="{% url 'worklog:update' worklog.id %}">編集</a>
										</td>
										<td class="text-nowrap">
											<button type="button" class="btn btn-outline-secondary delete-btn" 
												worklog-id="{{ worklog.id }}"
												work-date="{{ worklog.date }}"
												worklog-rack="{{ worklog.rack }}"
												work-type="{{ worklog.get_work_type_display }}"
												worklog-description="{{ worklog.description }}"
												worklog-employee="{{ worklog.employee }}">
												削除
											</button>
										</td>
									</tr>
									{% endfor %}
								</tbody>
								</table>
							</div>
						</div>
					</div>	
				</div>
				<!-- forms -->
				<div class="col-4">
					<div class="container border border-1 rounded">
						<form method="POST">
							{% csrf_token %}
							<!-- date -->
							<div class="p-3 col-7">
								<label class="form-label" for="{{ form.date.id_for_label }}" >作業日時</label>
								{{ form.date }}
							</div>

							<div class="row p-3">
								<!-- rack -->
								<div class="col-4">
									<label class="form-label" for="{{ form.rack.rack_number_for_label }}">ラック番号</label>
									{{ form.rack }}
								</div>
								<!-- work_type -->
								<div class="col-8">
									<label class="form-label">作業区分</label><br>
									{{ form.work_type }}
									<input type="radio" class="btn-check" name="work_type" id="success-outlined" value="installation" autocomplete="off" {% if form.work_type.value == "installation" %}checked{% endif %}>
									<label class="btn btn-outline-primary" for="success-outlined">設置</label>
									
									<input type="radio" class="btn-check" name="work_type" id="danger-outlined" value="removal" autocomplete="off" {% if form.work_type.value == "removal" %}checked{% endif %}>
									<label class="btn btn-outline-primary" for="danger-outlined">撤去</label>

									<input type="radio" class="btn-check" name="work_type" id="check-2-outlined" value="other" autocomplete="off" {% if form.work_type.value == "other" %}checked{% endif %}>
									<label class="btn btn-outline-primary" for="check-2-outlined">その他</label><br>
								</div>
							</div>
						
							<!-- description -->
							<div class="p-3">
								<label class="form-label" for="{{ form.description.id_for_label }}">作業内容</label>
								{{ form.description }}
							</div>

							<!-- employee -->
							<div class="p-3 col-7">
								<label class="form-label" for="{{ form.employee.id_for_label }}">作業者</label>
								{{ form.employee }}
							</div>

							<div class="p-3">
								<button type="submit" class="submit btn btn-primary">修正</button>
								<a class="submit btn btn-secondary" href="{% url "worklog:list" %}">キャンセル</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">作業記録の削除</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>以下の作業記録を本当に削除しますか？</strong></p>
                <p><strong>作業日時:</strong> <span id="work-date"></span></p>
                <p><strong>作業区分:</strong> <span id="work-type"></span></p>
                <p><strong>ラック番号:</strong> <span id="worklog-rack"></span></p>
                <p><strong>作業内容:</strong> <span id="worklog-description"></span></p>
                <p><strong>作業者:</strong> <span id="worklog-employee"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                <button type="button" class="btn btn-primary" id="delete-worklog">削除</button>
            </div>
        </div>
    </div>
</div>


<!-- モーダル表示用 javascript-->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // 削除ボタンがクリックされたときの処理
        var deleteButtons = document.querySelectorAll('.delete-btn');
        var deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));

        deleteButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                var worklogId = this.getAttribute('worklog-id');
                // モーダル表示のための処理
                deleteModal.show();

                // モーダル内の要素に対してCurrentMeasurementの情報を設定
                document.getElementById('work-date').innerText = this.getAttribute('work-date');
                document.getElementById('worklog-rack').innerText = this.getAttribute('worklog-rack');
                document.getElementById('work-type').innerText = this.getAttribute('work-type');
                document.getElementById('worklog-description').innerText = this.getAttribute('worklog-description');
                document.getElementById('worklog-employee').innerText = this.getAttribute('worklog-employee');

                // モーダル内の削除ボタンにデータを設定
                document.getElementById('delete-worklog').setAttribute('worklog-id', worklogId);
            });
        });

        // モーダル内の削除ボタンがクリックされたときの処理
        document.getElementById('delete-worklog').addEventListener('click', function () {
            var worklogId = this.getAttribute('worklog-id');
            // 削除の処理を実行する（削除用のURLにリダイレクト）
            window.location.href = '{% url "worklog:delete" 0 %}'.replace('0', worklogId);
            // モーダルを閉じる
            deleteModal.hide();
        });
    });
</script>

{% endblock %}
