{% extends "base.html" %}

{% block main %}
    <h2>電流記録の削除</h2>

    <p>以下の電流記録を本当に削除しますか？</p>

    <table>
        <tbody>
        <tr><td>ID</td><td>:</td><td>{{ object.id }}</td></tr>
        <tr><td>測定日時</td><td>:</td><td>{{ object.measurement_date }}</td></tr>
        <tr><td>電流値</td><td>:</td><td>{{ object.current_value }}</td></tr>
        <tr><td>電源系統</td><td>:</td><td>{{ object.power_system }}</td></tr>
        <tr><td>測定者</td><td>:</td><td>{{ object.employee }}</td></tr>
    </tbody>
    </table>

    <form method="POST">
    {% csrf_token %}
    <input type="submit" value="削除">
    </form>

    <a href="{% url 'measurement:list' %}">キャンセル</a>
{% endblock %}