{% extends "base.html" %}

{% block main %}

<script>
	window.onload = function() {
		var headerHeight = document.getElementById('header').offsetHeight;
		var cardHeaderHeight = document.getElementById('cardHeader').offsetHeight + document.getElementById('tableHeader').offsetHeight;
		var upperHeight = headerHeight + cardHeaderHeight + 40;
		var scrollableArea = document.getElementById('tableArea');
		var contentHeight = scrollableArea.scrollHeight;
		var maxHeight = 'calc(90vh - ' + upperHeight + 'px)';
		scrollableArea.style.height = maxHeight;
		if (scrollableArea.offsetHeight > contentHeight) {
			scrollableArea.style.height = contentHeight + 'px';
		}
	};
</script>

<div class="container p-3">
	<div class="card">
		<div class="card-header" id="cardHeader">
			<ul class="nav nav-tabs card-header-tabs">
				<li class="nav-item">
					<a class="nav-link active" href="{% url "measurement:add" %}">電流記録</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url "worklog:add" %}">作業記録</a>
				</li>
			</ul>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-5">
					<div class="container border border-1 rounded">
						<form method="POST" class="form-group">
							{% csrf_token %}
							<!-- date -->
							<div class="p-3 col-7">
								<label class="form-label" for="{{ form.date.id_for_label }}">測定日時</label>
								{{ form.date }}
							</div>
							<!-- current_value -->
							<div class="p-3 col-4">
								<label class="form-label" for="{{ form.current_value.id_for_label }}">電流値</label>
								<div class="d-flex align-items-center">
									{{ form.current_value }}
									<span style="margin-left: 5px;">A</span>
								</div>
								<div class="p-3" id="error-message" style="color: red; white-space: nowrap;"></div>
							</div>
							<!-- power_system -->
							<div class="p-3 col-4">
								<label class="form-label" for="{{ form.power_system.power_system_number_for_label }}">系統番号</label>
								{{ form.power_system }}
							</div>

							<div class="p-3">
								<button type="submit" class="submit btn btn-primary">記録</button>
							</div>
						</form>
					</div>
				</div>
				<div class="col-7">
					<div class="card">
						<div class="card-header" id="tableHeader">
							直近の入力
						</div>
						<div class="card-body">
							<div class="overflow-auto" style="height: 0vh; overflow-y: auto;" id="tableArea">
								<table class="table text-center">
								<thead class="table-dark">
									<tr>
									<th>測定日時</th>
									<th>電源系統</th>
									<th>電流値</th>
									<th>測定者</th>
									</tr>
								</thead>
								<tbody>
									{% for CurrentMeasurement in object_list %}
									<tr>
									<td>{{ CurrentMeasurement.date }}</td>
									<td>{{ CurrentMeasurement.power_system }}</td>
									<td>{{ CurrentMeasurement }}</td> <!-- __str__ methodで単位付きの文字列を返す -->
									<td>{{ CurrentMeasurement.employee }}</td>
									</tr>
									{% endfor %}
								</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
    document.querySelector("form").addEventListener("submit", function(event) {
        var value = parseFloat(document.getElementById("id_current_value").value);
        var errorMessageDiv = document.getElementById("error-message");
        if (value < 0 || value > 100) {
            errorMessageDiv.textContent = "0.0以上100.0以下の範囲で入力してください";
            event.preventDefault(); // フォームの送信を中止
        } else {
            errorMessageDiv.textContent = ""; // エラーメッセージをクリア
        }
    });
</script>

{% endblock %}