{% extends "base.html" %}

{% block main %}
<h2>Current Measurement List</h2>
<table>
        <thead>
                <tr>
                        <th>#</th>
                        <th>date</th>
                        <th>value</th>
                        <th>power_system</th>
                        <th>employee</th>
                </tr>
        </thead>
        <tbody>
        {% for CurrentMeasurement in object_list %}
        <tr>
                <td>{{ CurrentMeasurement.id }}</td>
                <td>{{ CurrentMeasurement.measurement_date }}</td>
                <td>{{ CurrentMeasurement.current_value }}</td>
                <td>{{ CurrentMeasurement.power_system }}</td>
                <td>{{ CurrentMeasurement.employee }}</td>
                <td><a href="{% url 'measurement:show' %}">detail</a></td>
        </tr>
        {% endfor %}
        </tbody>
</table>
<a href="{% url "measurement:add" %}">Add Current Measurement</a>
{% endblock %}
