{% extends "base.html" %}

{% block main %}
<!-- tabs -->
<ul class="nav nav-tabs">
	<li class="nav-item">
  		<a class="nav-link active" aria-current="page" href="{% url "measurement:list" %}">電流記録</a>
  	</li>
  	<li class="nav-item">
  		<a class="nav-link" aria-current="page" href="{% url "worklog:list" %}">作業記録</a>
  	</li>
</ul>

<div class="d-flex flex-row">

  <!-- table -->
  <div class="d-flex flex-fill p-3">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>測定日時</th>
          <th>電流値</th>
          <th>電源系統</th>
          <th>測定者</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>

  <!-- form -->
  <div class="d-flex flex-fill p-3">
  <form method="POST">
  {% csrf_token %}
    {{ form.as_p }}
    <div>
	    <button>Delete</button>
	    <button type="submit">Update</button>
	    <button><a href="{% url "measurement:list" %}">キャンセル</a></button>
	</div>
  </form>
  
{% endblock %}
