{% extends "base.html" %}

{% block main %}
<h2>
  <a href="{% url "measurement:list" %}">電流記録</a>
  <a href="{% url "worklog:list" %}">作業記録</a>
  
</h2>
  
<br>

<table>
        <thead>
                <tr>
                        <th>#</th>
                        <th>測定日時</th>
                        <th>電流値</th>
                        <th>電源系統</th>
                        <th>測定者</th>
                </tr>
        </thead>
        <tbody>
        {% for CurrentMeasurement in object_list %}
        <tr>
                <td>{{ CurrentMeasurement.id }}</td>
                <td>{{ CurrentMeasurement.measurement_date }}</td>
                <td>{{ CurrentMeasurement.current_value }}</td>
                <td>{{ CurrentMeasurement.power_system }}</td>
                <td>{{ CurrentMeasurement.employee }}</td>
                <td><a href="{% url 'measurement:update' CurrentMeasurement.id %}">編集</a></td>
                <td><a href="{% url 'measurement:delete' CurrentMeasurement.id %}">削除</a></td>
        </tr>
        {% endfor %}
        </tbody>
</table>
<a href="{% url "measurement:add" %}">電流記録の追加</a>
<br>
<a href="{% url "export:csv_export" %}">CSVファイルの出力</a>

{% endblock %}
