{% load static %}
<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="{% static 'login.css' %}" rel='stylesheet' type='text/css'>
  <title>Login</title>
</head>
</html>

<body>	
  <div class="login">

    <!-- title -->
    <center>
      <h2>電源使用状況管理システム</h2>
    </center>
  
    <h2 class="active"> Login </h2>

    <!-- form -->
    <form action="" method="POST">
      {% csrf_token %}
      
      {{ form.username }}
      <span>社員番号</span>

      {{ form.password }}
      <span>パスワード</span>

      <br>
      
      <button type="submit" class="signin">
        Login
      </button>

      <hr>

    </form>

  </div>
</body>


