{% load static %}
{% include "icon.html" %}

<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>電源使用状況管理システム</title>
    <link href="{% static 'base.css' %}" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/bootstrap-icons/font/bootstrap-icons.css' %}">
</head>

<style>
	.bi {
	  vertical-align: -.125em;
	  fill: currentColor;
	}
  </style>

<!-- ヘッダー -->
<header>
    <div class="px-3 py-2 text-bg-dark border-bottom">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/home" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <i class="bi bi-hdd-rack" style="font-size: 40px;"></i>
		<span class="fs-4 ps-3">CURRENT MEASUREMENT</span><!-- 【要修正】余白調整のために、全角スペースあり -->
                                                      <!-- 【仮修正】余白調整のための全角スペースをps-3に置き換えた -->
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="{% url "home:home" %}" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"/></svg>
                Home
              </a>
            </li>

            <li>
              <a href="{% url "measurement:add" %}" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#pencil"/></svg>
                Record
              </a>
            </li>

            <li>
              <a href="{% url "measurement:list" %}" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#eraser"/></svg>
                Correction
              </a>
            </li>

            <li>
              <a href="{% url "usage:main" %}" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#usage"/></svg>
                Graph
              </a>
            </li>

            <li>
              <a href="{% url "master:rack" %}" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#setting"/></svg>
                Setting
              </a>
            </li>

			<li>
				<a href="{% url "accounts:logout" %}" class="nav-link text-white">
				  <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#logout"/></svg>
				  Logout
				</a>
			  </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

<body> 
    {% block main %}
    {% endblock %}
</body>
</html>