{% load static %}

<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>電源使用状況管理システム</title>
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/style.css' %}">
</head>
<body>
    <div>
        <nav class="menu">
            <div>電源管理システム</div>
            <ul>
                <a href="{% url "home:home" %}">ホーム</a>
                <a href="{% url "measurement:list" %}">測定記録</a>
                <a href="{% url "worklog:list" %}">作業記録</a>
                <a href="{% url "master:main" %}">マスタ管理</a>
            </ul>
        </nav>

    </div>
    {% block main %}
    {% endblock %}
</body>
</html>
