{% load static %}
<!-- サイドバー -->
<aside class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px; height: 100vh; overflow: auto;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <span class="fs-4">マスタ管理ページ</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="{% url 'master:rack' %}" class="nav-link link-body-emphasis" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#rack"/></svg>
          ラック
        </a>
      </li>
      <li>
        <a href="{% url 'master:ups' %}" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#UPS"/></svg>
          UPS
        </a>
      </li>
      <li>
        <a href="{% url 'master:power_system' %}" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#power_system"/></svg>
          電源系統
        </a>
      </li>
      <li>
        <a href="{% url 'master:employee' %}" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#employee"/></svg>
          社員番号
        </a>
      </li>
    </ul>
    <hr>
</aside>
