{% extends "base.html" %}

{% block main %}

<div class="d-flex flex-col">

	{% include "sidebar.html" %}
	
	<div class="d-flex flex-fill p-3">	
		<p>ログイン中アカウント<br>
			社員番号 : {{ logged_in_user.employee_number }}<br>
			社員氏名 : {{ logged_in_user.full_name }}</p><br>
		<ul>
			<a href="{% url 'master:employee_edit' logged_in_user.employee_number %}">社員番号・氏名変更</a>
			<a href="{% url 'master:password_change_form' %}">パスワードの変更</a>
			<a href="{% url 'master:employee_delete' logged_in_user.employee_number %}">削除</a>
			<a href="{% url 'master:employee_add' %}">追加</a>
		</ul>
	</div>

	<div class="flex-fill p-4">	
		<div class="scrollable-container">
			<table class="table">
				<thead class="table-dark">
					<tr>
						<th>社員番号</th>
						<th>氏名</th>
					</tr>
				</thead>
				<tbody>
					{% for employee in object_list %}
					<tr>
						<td>{{ employee.employee_number }}</td>
						<td>{{ employee.full_name }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

</div>
{% endblock %}