{% extends "base.html" %}

{% block main %}

<div class="d-flex flex-col">

	{% include "sidebar.html" %}
	
	<div class="d-flex flex-fill">
		<div class="container row">

			<div class="col-6 p-3">	
				<div class="card">
					<div class="card-header">
						<h4 class="p-2">ログイン中アカウント</h4>
					</div>

					<div class="card-body">
						<!-- account -->
						<div class="container pb-3">
							社員番号 : {{ logged_in_user.employee_number }}<br>
							社員氏名 : {{ logged_in_user.full_name }}
						</div>
						
						<!-- button group -->
						<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
							<div class="btn-group" role="group" aria-label="First group">
								<a type="button" class="btn btn-outline-secondary"
									href="{% url 'master:employee_edit' logged_in_user.employee_number %}">社員番号・氏名変更</a>
								<a type="button" class="btn btn-outline-secondary"
									href="{% url 'master:password_change_form' %}">パスワードの変更</a>
								<a type="button" class="btn btn-outline-secondary"
									href="{% url 'master:employee_delete' logged_in_user.employee_number %}">削除</a>
							</div>
							<div class="btn-group">
								<a type="button" class="btn btn-outline-secondary"
									href="{% url 'master:employee_add' %}">社員の追加</a>
							</div>
						</div>
					</div>

				</div>

			</div>

			
			<!-- employee list -->
			<div class="col-6 p-4">
				<h4 class="p-2">社員リスト</h4>

				<div class="overflow-auto" style="height: 70vh; overflow-y: auto;" id="tableArea">
					<table class="table">
						<thead class="table-dark">
							<tr>
								<th>社員番号</th>
								<th>氏名</th>
							</tr>
						</thead>
						<tbody>
							{% for employee in object_list %}
							<tr>
								<td>{{ employee.employee_number }}</td>
								<td>{{ employee.full_name }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>

</div>
{% endblock %}