{% extends "base.html" %}

{% block main %}

<div class="d-flex flex-col">

	{% include "sidebar.html" %}

    <div class="d-flex flex-fill">
		<div class="container row">
			<div class="col-6 p-3">	
                <div class="card">
					<div class="card-header">
						<h4 class="p-2">パスワードの変更</h4>
					</div>

					<div class="card-body">
                        <div class="alert alert-danger" role="alert">
                            <i class="bi bi-exclamation-triangle-fill"></i> パスワードは以下の規則を満たす必要があります。
                            <ul style="padding-left: 20px;">
                                <li>あなたの他の個人情報と似ているパスワードにはできません。</li>
                                <li>パスワードは最低8文字以上必要です。</li>
                                <li>よく使われるパスワードにはできません。</li>
                                <li>数字だけのパスワードにはできません。</li>
                            </ul>
                        </div>
                        <form method="post" style="padding-left:20px;">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="old_password" class="form-label">元のパスワード</label>
                                <input type="password" class="form-control" id="old_password" name="old_password">
                            </div>
                            <div class="mb-3">
                                <label for="new_password1" class="form-label">新しいパスワード</label>
                                <input type="password" class="form-control" id="new_password1" name="new_password1">
                            </div>
                            <div class="mb-3">
                                <label for="new_password2" class="form-label">新しいパスワード（確認用）</label>
                                <input type="password" class="form-control" id="new_password2" name="new_password2">
                            </div>
                            <button type="submit" class="btn btn-primary">パスワードを変更する</button>
                        </form>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}