{% block title %} 電源系統閲覧 {% endblock %}

{% block main %}
<form action="{% url 'master:power_system_show' %}" method="post">
{% csrf_token %}
{{ form_id }}
<input type="submit"/>
</form>

{% if power_system %}
<dl>
<dt>電源系統ID</dt><dd>{{ power_system.id }}</dd>
<dt>電源系統番号</dt><dd>{{ power_system.power_system_number }}</dd>
<dt>最大電流値</dt><dd>{{ power_system.max_current }}</dd>
<dt>供給元UPS</dt><dd>{{ power_system.supply_source }}</dd>
<dt>供給先ラック</dt><dd>{{ power_system.supply_rack }}</dd>
</dl>
{% endif %}

<ul>
<li><a href="{% url 'master:rack' %}">電源系統一覧へ戻る</a></li>
</ul>
{% endblock %}