{% extends "base.html" %}

{% block title %} 電源系統追加 {% endblock %}

{% block main %}
<form action="{% url 'master:power_system_add' %}" method="post">
{% csrf_token %}
<table>
{% for field in form %}
    {% if field.errors %}
        <tr>
            <td colspan="2">
                <div class="alert alert-danger" role="alert">
                    <i class="bi bi-exclamation-triangle-fill"></i> {{ field.errors.as_text }}
                </div>
            </td>
        </tr>
    {% endif %}
    <tr>
        <th>{{ field.label_tag }}</th>
        <td>{{ field }}</td>
    </tr>
{% endfor %}
</table>
<input type="submit"/>
</form>
{% endblock %}