{% extends "base.html" %}

{% block main %}
<div class="d-flex flex-row">

	{% include "sidebar.html" %}
	
	<div class="p-4">	
		<div>
			<table class="table">
				<thead class="table-dark">
				<tr>
					<th style="width: 120px; text-align: center;">電源系統番号</th>
					<th style="width: 120px; text-align: center;">最大電流値</th>
					<th style="width: 120px; text-align: center;">供給元UPS</th>
					<th style="width: 120px; text-align: center;">供給先ラック</th>
					<th style="width: 75px; text-align: center;">編集</th>
					<th style="width: 75px; text-align: center;">削除</th>        
				</tr>
				</thead>
				<tbody>
					{% for power_system in object_list %}
					<tr>
						<td scope="row" style="width: 120px; text-align: center;">{{ power_system.power_system_number }}</td>
						<td style="width: 120px; text-align: center;">{{ power_system.max_current }} [A]</td>
						<td style="width: 120px; text-align: center;">{{ power_system.supply_source }}</td>
						<td style="width: 120px; text-align: center;">{{ power_system.supply_rack }}</td>
						<td style="width: 75px; text-align: center;">
							<a class="btn btn-outline-secondary" href="{% url 'master:power_system_edit' power_system.id %}">編集</a>
						</td>
						<td style="width: 75px; text-align: center;">
							<a class="btn btn-outline-secondary" href="{% url 'master:power_system_delete' power_system.id %}">削除</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<br>
		<button type="button" class="btn btn-dark" onclick="location.href='{% url 'master:power_system_add' %}'">
			新規登録
		</button>
	</div>

</div>
{% endblock %}
