
{% block title %} 電源系統番号 {% endblock %}

{% block main %}
<table class="table">
        <thead class="table-dark">
                <tr>
                        <th>ID</th>
                        <th>電源系統番号</th>
                        <th>最大電流値</th>
                        <th>供給元UPS</th>
                        <th>供給先ラック</th>
                        
                </tr>
        </thead>
        <tbody>
       {% for power_system in object_list %}
			<tr>
				<td scope="row">{{ power_system.id }}</td>
				<td>{{ power_system.power_system_number }}</td>
				<td>{{ power_system.max_current }}</td>
				<td>{{ power_system.supply_source }}</td>
				<td>{{ power_system.supply_rack }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}