{% extends "base.html" %}
{% block title %} ラックリスト {% endblock %}

{% block main %}
<div class="d-flex flex-row">

{% include "sidebar.html" %}

<div class="d-flex flex-fill p-3">	
	<table class="table">
		<thead class="table-dark">
			<tr>
				<th>ラックID</th>
				<th>ラック番号</th>
				<th>備考</th>
				<th>編集</th>
				<th>削除</th>
			</tr>
		</thead>
		<tbody>
			{% for rack in object_list %}
			<tr>
				<td scope="row">{{ rack.id }}</td>
				<td>{{ rack.rack_number }}</td>
				<td>{{ rack.description }}</td>
				<td><a href="{% url 'master:rack_edit' rack.id %}">[編集]</a></td>
				<td><a href="{% url 'master:rack_delete' rack.id %}">[削除]</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
</div>

<br>
		
<ul>
<li><a href="{% url 'master:rack_add' %}">追加</a></li>
<li><a href="{% url 'master:main' %}">メインページ</a></li>
</ul>
{% endblock %}