
{% block title %} ラック番号 {% endblock %}

{% block main %}
<table class="table">
        <thead class="table-dark">
                <tr>
                        <th>ラックID</th>
                        <th>ラック番号</th>
                </tr>
        </thead>
        <tbody>
       {% for rack in object_list %}
			<tr>
				<td scope="row">{{ rack.id }}</td>
				<td>{{ rack.rack_number }}</td>
				<td><a href="{% url 'master:rack_edit' id=rack.id %}">[編集]</a></td>
	            <td><a href="{% url 'master:rack_delete' id=rack.id %}">[削除]</a></td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<ul>
<li><a href="{% url 'master:rack_add' %}">Add</a></li>
<li><a href="{% url 'master:rack_show' %}">Show</a></li></ul>
{% endblock %}