{% extends "base.html" %}

{% block main %}
<div class="d-flex flex-row">

{% include "sidebar.html" %}

<div class="d-flex flex-fill p-3">	
	<table class="table">
		<thead class="table-dark">
       	<tr>
 				<th>UPSID</th>
       		<th>UPS番号</th>
       	 	<th>編集</th>
       		<th>削除</th>
      		</tr>
		</thead>
       <tbody>
			{% for ups in object_list %}
			<tr>
				<td scope="row">{{ ups.id }}</td>
				<td>{{ ups.ups_number }}</td>
				<td><a href="{% url 'master:ups_edit' ups.id %}">[編集]</a></td>
                                <td><a href="{% url 'master:ups_delete' ups.id %}">[削除]</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
</div>
	
	
<ul>
<li><a href="{% url 'master:ups_add' %}">追加</a></li>
<li><a href="{% url 'master:main' %}">メインページ</a></li>
</ul>
{% endblock %}