
{% block title %} UPS番号 {% endblock %}

{% block main %}
<table class="table">
        <thead class="table-dark">
                <tr>
                        <th>UPSID</th>
                        <th>UPS番号</th>
                </tr>
        </thead>
        <tbody>
       {% for ups in object_list %}
			<tr>
				<td scope="row">{{ ups.id }}</td>
				<td>{{ ups.ups_number }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<ul>
<li><a href="{% url 'master:ups_add' %}">Add</a></li>
<li><a href="{% url 'master:ups_show' %}">Show</a></li>
</ul>
{% endblock %}