{% extends "base.html" %}

{% block main %}
<div class="d-flex flex-row">

	{% include "sidebar.html" %}
	
	<div class="flex-fill p-4">	
		<h3>UPS一覧</h3>
		<div class="overflow-auto" style="height: 70vh; overflow-y: auto;" id="tableArea">
			<table class="table">
				<thead class="table-dark">
				<tr>
					<th style="width: 100px; text-align: center;">UPS番号</th>
					<th style="flex: 1; text-align: center;">備考</th>
					<th style="width: 75px; text-align: center;">編集</th>
					<th style="width: 75px; text-align: center;">削除</th>
					</tr>
				</thead>
				<tbody>
					{% for ups in object_list %}
					<tr>
						<td scope="row" style="width: 100px; text-align: center;">{{ ups.ups_number }}</td>
						<td style="flex: 1; text-align: center;">{{ ups.description }}</td>
						<td style="width: 75px; text-align: center;">
							<a class="btn btn-outline-secondary" href="{% url 'master:ups_edit' ups.id %}">編集</a>
						</td>
						<td style="width: 75px; text-align: center;">
							<a class="btn btn-outline-secondary" href="{% url 'master:ups_delete' ups.id %}">削除</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<br>
		<button type="button" class="btn btn-dark" onclick="location.href='{% url 'master:ups_add' %}'">
			新規登録
		</button>
	</div>

</div>
{% endblock %}