{% extends "base.html" %}

{% block title %} UPS追加 {% endblock %}

{% block main %}
<div class="d-flex flex-row">

	{% include "sidebar.html" %}

    <div class="col-4 p-4">
        <div class="card">
            <div class="card-header">
                <h4 class="p-2">UPSの追加</h4>
            </div>

            <div class="card-body">
                <!-- form -->
                <form action="{% url 'master:ups_add' %}" method="post">
                    {% csrf_token %}
                    <!-- ups_number -->
                    {% if form.ups_number.errors %}
                        <div class="alert alert-danger" role="alert">
                            <i class="bi bi-exclamation-triangle-fill"></i> {{ form.ups_number.errors.as_text }}
                        </div>
                    {% endif %}
                    <div class="p-3 col-7">
                        <label class="form-label" for="{{ form.ups_number.id_for_label }}">UPS番号</label>
                        {{ form.ups_number }}
                    </div>
        
                    <!-- description -->
                    <div class="p-3 col-7">
                        <label class="form-label" for="{{ form.description.id_for_label }}">備考</label>
                        {{ form.description }}
                    </div>
                    
                    <div class="p-3">
                        <button type="submit" class="submit btn btn-primary">追加</button>
                    </div>
        
                </form>
            </div>
        
        </div>
    </div>

</div>


{% endblock %}