{% extends "base.html" %}

{% load static %}

{% block main %}
<script src="{% static canvas.css %}"></script>
<body>
    <h2>電力使用状況閲覧</h2>
    <div class="wrap-chart">
        <div class="chart-container" style="position: relative; width: 700px; height: 200px;">
            <!-- 描画領域 -->
            <canvas id="bar" height="50px"></canvas>
            <canvas id="bar2" height="50px"></canvas>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="{% static 'chart_js/dist/chart.umd.js' %}"></script>
    <script>
        const lineChartCtx = document.getElementById('bar').getContext('2d');

        const lineChartData = {
            datasets: [
            {
                label: 'current_value',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                fill: false,
                data : [
                {% for item in data %}
                    {x: '{{ item.x }}', y: {{ item.y }}},
                    {% endfor %}
                    ],
                }
                ]
            };

        const lineChart = new Chart(lineChartCtx, {
            type: 'line',
            data: lineChartData,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: [{
                        type: 'time',
                        time: {
                            unit: 'day'
                        }
                    }],
                    y: [{
                        type: 'linear',  // データが数値ならlinearを使用
                        position: 'left'
                    }]
                }
            }
    });
    </script>

    <script>
        const lineChartCtx2 = document.getElementById('bar2').getContext('2d');

        const lineChartData2 = {
            datasets: [
            {
                label: 'current_value',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                fill: false,
                data : [
                {% for item in data %}
                    {x: '{{ item.x }}', y: {{ item.y }}},
                    {% endfor %}
                    ],
                }
                ]
            };

        const lineChart2 = new Chart(lineChartCtx2, {
            type: 'line',
            data: lineChartData,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: [{
                        type: 'time',
                        time: {
                            parser: 'YYYY-MM-DDTHH:mm:ss',
                            unit: 'day',
                            tooltipFormat: 'YYYY-MM-DDTHH:mm:ss',
                            displayFormats: {
                                day: 'YYYY-MM-DD'
                            }
                        },
                        ticks: {
                            source: 'auto' // 'auto' または 'data' を指定
                        }
                    }],
                    y: [{
                        type: 'linear',  // データが数値ならlinearを使用
                        position: 'left'
                    }]
                }
            }
    });
    </script>
</body>
{% endblock %}
