{% extends "base.html" %}

{% load static %}

{% block main %}
<body>
    <!-- header -->
    <div class="container pt-3 border-bottom">
        <div class="d-flex justify-content-between">
            <!-- Left aligned element -->
            <div>
                <h2>電力使用状況 ラック: {{ rack_number }}</h2>
            </div>
        </div>
    </div>

    <div class="container pt-3 pb-3">
        <div class="alert alert-warning d-flex align-items-center p-3" style="max-width: 500px;" role="alert">
            <i class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"></i>
            <div>
                ラックが登録されていません。設定からラックを登録してください。
            </div>
        </div>
    </div>
</body>

{% endblock %}
