{% extends "base.html" %}

{% load static %}
{% load dict_filter %}

{% block main %}

<script src="{% static 'canvas.css' %}"></script>
<body>
    <h2>電力使用状況閲覧</h2>
    <h3>ラック: {{ rack_number }}</h3>
    {% if not data %}
    <p>指定した期間にデータがありません。</p>
    {% endif %}
    {% for power_system, measurements in data.items %}
        <div class="chart-container" style="position: relative; width: 1000px; height: 300px;">
            <!-- 描画領域 -->
            <canvas id="Chart{{ power_system }}" height="100px"></canvas>
        </div>
    {% endfor %}
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">期間を指定</button>
    </form>
    
    <!-- ライブラリの読み込み -->
    <script src="{% static 'chart_js/dist/chart.umd.js' %}"></script>
    <script src="{% static 'moment/min/moment-with-locales.js' %}"></script>
    <script src="{% static 'moment/dist/locale/ja.js' %}"></script>
    <script src="{% static 'chartjs-adapter-moment/dist/chartjs-adapter-moment.js' %}"></script>
    
    <script>
        const plugin = {
            id: 'custom_background_color',
            beforeDraw: (chart, args, options) => {
                const {ctx} = chart;

                const xScale = chart.scales['x'];
                const yScale = chart.scales['y'];

                const capacity = yScale.max;
                const rate70 = capacity * 0.7;
                const rate50 = capacity * 0.5;

                const left = xScale.left;
                const red_top = yScale.getPixelForValue(capacity);
                const red_height = yScale.getPixelForValue(rate70) - red_top;
                const orange_top = yScale.getPixelForValue(rate70)
                const orange_height = yScale.getPixelForValue(rate50) - orange_top;
                const blue_top = yScale.getPixelForValue(rate50);
                const blue_height = yScale.getPixelForValue(0) - blue_top;

                // 赤い範囲
                ctx.fillStyle = "rgba(255, 0, 100, 0.1)";
                ctx.fillRect(left, red_top, xScale.width, red_height);

                // オレンジの範囲
                ctx.fillStyle = "rgba(255, 165, 0, 0.1)";
                ctx.fillRect(left, orange_top, xScale.width, orange_height);

                // 青い範囲
                ctx.fillStyle = "rgba(0, 100, 255, 0.1)";
                ctx.fillRect(left, blue_top, xScale.width, blue_height);
            },
        };

        Chart.register(plugin);

        {% for power_system, measurements in data.items %}
            const lineChartData{{ power_system }} = {
                datasets: [
                    {
                        label: '電源系統 {{ power_system }}',
                        data : [
                        {% for item in measurements %}
                        {x: '{{ item.x }}', y: {{ item.y }}},
                        {% endfor %}
                        ],
                    },
                ]
            };
            
            const ctx{{ power_system }} = document.getElementById("Chart{{ power_system }}").getContext('2d');

            const chart{{ power_system }} = new Chart(ctx{{ power_system }}, {
                type: 'line',
                data: lineChartData{{ power_system }},
                options: {
                    plugins: {
                        plugin: {},
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    let label = context.dataset.label || '';
                                
                                    if (label) {
                                        label += ': ';
                                    }
                                    if (context.parsed !== null) {
                                        label += context.parsed.y + ' A';
                                    }
                                    return label;
                                }
                            }
                        },
                    },
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        x: {
                            scaleLabel: {
                                display: true,
                            },
                            type: 'time',
                            min: '{{ start_date }}',
                            max: '{{ end_date }}',
                            time: {
                                parser: 'YYYY-MM-DDTHH:mm:ss.SSSSSSZ',
                                unit: 'day',
                                stepSize: 1,
                                displayFormats: {
                                    'day': 'MM月DD日'
                                }
                            },
                        },
                        y: {
                            beginAtZero: true,
                            max: {{ capacity|get_item:power_system }},
                            ticks: {
                                stepSize: 5,
                                callback: function(value, index, values) {
                                    return value + 'A';
                                },
                            },
                        },
                    }
                }
            });

        {% endfor %}
    </script>

    </body>
    {% endblock %}
    