{% extends "base.html" %}

{% load static %}
{% load dict_filter %}

{% block main %}

<script src="{% static 'canvas.css' %}"></script>
<body>
    <!-- header -->
    <div class="container pt-3 border-bottom" id="titleBar">
        <div class="d-flex justify-content-between">
            <!-- Left aligned element -->
            <div>
                <h2>電力使用状況 ラック: {{ rack_number }}</h2>
            </div>

            <!-- Right aligned elements -->
            <div class="d-flex">
                <!-- dropdown (Rack Select) -->
                <div class="dropdown me-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ラックを選択
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" style="max-height: 500px; overflow-y: auto;">
                        {% for rack in all_racks %}
                        <li><a class="dropdown-item" href="{% url 'usage:graph' rack.rack_number %}">{{rack.rack_number}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                
                <!-- dropdown (Period Select) -->
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        表示期間
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a id="month1" class="dropdown-item active" href="#">1か月</a></li>
                        <li><a id="month3" class="dropdown-item" href="#">3か月</a></li>
                        <li><a id="month6" class="dropdown-item" href="#">6か月</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <div class="p-3">
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="submit btn btn-primary">期間を指定</button>
                            </form>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% if not data %}
    <div class="container pt-3 pb-3">
        <div class="alert alert-warning d-flex align-items-center p-3" style="max-width: 300px;" role="alert">
            <i class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"></i>
            <div>
                登録された電源系統がありません
            </div>
        </div>
    </div>
    {% else %}
    <script>
        window.onload = function() {
            var headerHeight = document.getElementById('header').offsetHeight;
            var titleBarHeight = document.getElementById('titleBar').offsetHeight;
            var upperHeight = headerHeight + titleBarHeight;
            var scrollableArea = document.getElementById('GraphScrollArea');
            scrollableArea.style.height = 'calc(100vh - ' + upperHeight + 'px)';
        };
    </script>

    <div class="overflow-auto" style="height: 80vh; overflow-y: auto;" id="GraphScrollArea">
        {% for power_system, measurements in data.items %}
            <div class="container pt-3 pb-3">
                <div class="card">
                    <div class="card-header">
                        電源系統{{  power_system }}
                    </div>
                    <div class="card-body">
                        <div class="chart-container" style="position: relative; width: 100%; height: 300px;">
                            <!-- 描画領域 -->
                            <canvas id="Chart{{ power_system }}" height="100px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
    <!-- ライブラリの読み込み -->
    <script src="{% static 'chart_js/dist/chart.umd.js' %}"></script>
    <script src="{% static 'moment/min/moment-with-locales.js' %}"></script>
    <script src="{% static 'moment/dist/locale/ja.js' %}"></script>
    <script src="{% static 'chartjs-adapter-moment/dist/chartjs-adapter-moment.js' %}"></script>
    <script src="{% static 'chartjs-plugin-annotation/dist/chartjs-plugin-annotation.min.js' %}"></script>
    
    <script>
        // グラフの背景色を設定するプラグイン
        const plugin = {
            id: 'custom_background_color',
            beforeDraw: (chart, args, options) => {
                const {ctx} = chart;

                // 軸データを取得
                const xScale = chart.scales['x'];
                const yScale = chart.scales['y'];

                // 電源系統の許容電流を取得し、70%、50%の値を計算
                const capacity = yScale.max;
                const rate70 = capacity * 0.7;
                const rate50 = capacity * 0.5;

                // 背景描画に必要な座標を取得
                const left = xScale.left;                                            // グラフの左端
                const width = xScale.width;                                          // グラフの幅
                const red_top = yScale.getPixelForValue(capacity);                   // 赤い範囲の上端
                const red_height = yScale.getPixelForValue(rate70) - red_top;        // 赤い範囲の幅
                const orange_top = yScale.getPixelForValue(rate70)                   // オレンジの範囲の上端
                const orange_height = yScale.getPixelForValue(rate50) - orange_top;  // オレンジの範囲の幅
                const blue_top = yScale.getPixelForValue(rate50);                    // 青い範囲の上端
                const blue_height = yScale.getPixelForValue(0) - blue_top;           // 青い範囲の幅

                // 赤い範囲の描画
                ctx.fillStyle = "rgba(255, 0, 100, 0.1)";
                ctx.fillRect(left, red_top, width, red_height);

                // オレンジの範囲を描画
                ctx.fillStyle = "rgba(255, 165, 0, 0.1)";
                ctx.fillRect(left, orange_top, width, orange_height);

                // 青い範囲を描画
                ctx.fillStyle = "rgba(0, 100, 255, 0.1)";
                ctx.fillRect(left, blue_top, width, blue_height);
            },
        };

        // プラグインを登録
        Chart.register(plugin);

        // 作業記録の種類と色のマッピング
        const colors = {
            'グラフ': 'rgba(80, 89, 120, 1)',
            '設置': 'rgba(179, 145, 113, 1)',
            '撤去': 'rgba(125, 134, 167, 1)',
            'その他': 'rgba(178, 197, 0, 1)',
        };

        // 電源系統の数だけグラフを設定
        {% for power_system, measurements in data.items %}

            // データを設定
            const lineChartData{{ power_system }} = {
                datasets: [
                    {
                        label: '電源系統 {{ power_system }}',
                        data : [
                        {% for item in measurements %}
                        {x: '{{ item.x }}', y: {{ item.y }}},
                        {% endfor %}
                        ],
                        borderColor: colors['グラフ'],
                    },
                    {% for worklog_type, worklogs in worklogs.items %}
                    {
                        type: 'scatter',
                        label: '{{ worklog_type }}',
                        data: [
                        {% for worklog in worklogs %}
                        {x: '{{ worklog.x }}', y: 0, z: '{{ worklog.z }}'},
                        {x: '{{ worklog.x }}', y: {{ capacity|get_item:power_system }}, z: '{{ worklog.z }}'},
                        {% endfor %}
                        ],
                        borderColor: colors['{{ worklog_type }}'], // 作業記録の種類に基づいて色を設定
                        borderWidth: 3,
                        fill: false,
                        pointRadius: 3,
                    },
                    {% endfor %}
                ]
            };
            
            const ctx{{ power_system }} = document.getElementById("Chart{{ power_system }}").getContext('2d');

            const chart{{ power_system }} = new Chart(ctx{{ power_system }}, {
                type: 'line',
                data: lineChartData{{ power_system }},
                options: {
                    plugins: {
                        annotation: {
                            annotations: [
                                {% for worklog_type, worklogs in worklogs.items %}
                                    {% for worklog in worklogs %}
                                        {
                                            type: 'line',
                                            xMin: '{{ worklog.x }}',
                                            xMax: '{{ worklog.x }}',
                                            borderColor: colors['{{ worklog_type }}'],
                                            borderWidth: 3,
                                        },
                                    {% endfor %}
                                {% endfor %}
                            ]
                        },
                        plugin: {},
                        tooltip: {
                            mode: 'nearest',
                                intersect: false,
                            callbacks: {
                                label: function(context) {
                                    let label = context.dataset.label || '';
                                    if (label) {
                                        label += ': ';
                                    }
                                    if (label.includes('電源系統')) { // 電流測定値のデータ
                                        if (context.parsed !== null) {
                                            label = [label, context.parsed.y + ' A'];
                                        }
                                    } else { // 作業記録のデータ
                                        label = [label].concat(context.raw.z.split('\n')); // 作業記録の詳細を改行で分割して配列に追加
                                    }
                                    return label;
                                }
                            }
                        },
                    },
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        x: {
                            scaleLabel: {
                                display: true,
                            },
                            type: 'time',
                            min: '{{ start_date }}',
                            max: '{{ end_date }}',
                            time: {
                                parser: 'YYYY-MM-DDTHH:mm:ss.SSSSSSZ',
                                unit: 'day',
                                stepSize: 1,
                                displayFormats: {
                                    'day': 'MM月DD日'
                                }
                            },
                        },
                        y: {
                            beginAtZero: true,
                            max: {{ capacity|get_item:power_system }},
                            ticks: {
                                stepSize: 5,
                                callback: function(value, index, values) {
                                    return value + ' A';
                                },
                            },
                        },
                    }
                }
            });

        {% endfor %}
        
    </script>

    <script>
        var rackId = {{ rack_number }};

        document.getElementById('month1').addEventListener('click', function() {
            window.location.href = '/usage/graph/' + rackId + '/1/';
        });

        document.getElementById('month3').addEventListener('click', function() {
            window.location.href = '/usage/graph/' + rackId + '/3/';
        });

        document.getElementById('month6').addEventListener('click', function() {
            window.location.href = '/usage/graph/' + rackId + '/6/';
        });
    </script>

    </body>
    {% endif %}
    {% endblock %}
    